@model BallonDor.ViewModels.DetailsVM
@{
    ViewData["Title"] = "Jogador";
}        

<div class="container mt-5 text-white">
    <div class="row">
        <div class="col text-center">
            @if (Model.Anterior != null)
            {
                <a asp-action="Details" asp-route-id="@Model.Anterior.Id"
                   class="btn btn-lg text-white" style="background-color: #d4af37; border-color: #af8a10;">
                   @Model.Anterior.Nome
                </a>
            }
        </div>
        <div class="col text-center">
            <h1 class="fs-1">@Model.Atual.Nome</h1>
        </div>
        <div class="col text-center">
            @if (Model.Proximo != null)
            {
                <a asp-action="Details" asp-route-id="@Model.Proximo.Id"
                   class="btn btn-lg text-white" style="background-color: #d4af37; border-color: #af8a10;">
                   @Model.Proximo.Nome
                </a>
            }
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-5 p-0">
            <img class="img-fluid cursor-pointer" src="@Model.Atual.Imagem" alt="@Model.Atual.Nome">
        </div>
        <div class="col-lg-7 fs-5 mt-4">
            <p class="mb-3"><strong>Nacionalidade:</strong> @Model.Atual.Nacionalidade.Nome</p>
            <p class="mb-3"><strong>Posição:</strong> @Model.Atual.Posicao.Nome</p>
            <p class="mb-3"><strong>Altura:</strong> @Model.Atual.Altura m</p>
            <p class="mb-3"><strong>Descrição:</strong> @Model.Atual.Descricao</p>

            <p class="fw-bold mt-4">Clubes</p>
            <div class="d-flex flex-wrap gap-2 my-2">
            @foreach (var jc in Model.Atual.JogadoresClubes.OrderBy(x => x.AnoInicio))
            {
                <span class="badge d-flex align-items-center gap-2 p-2" 
                    style="background: linear-gradient(@jc.Clube.Cor);">
                    <img src="@jc.Clube.Imagem" alt="@jc.Clube.Nome" 
                        style="width:24px; height:24px; object-fit:cover; border-radius:50%;" />
                    <span>@jc.Clube.Nome (@jc.AnoInicio - @jc.AnoFim)</span>
                </span>
            }

            </div>

            <p class="fw-bold mt-4">Prêmios</p>
            <div id="premiosContainer" class="d-flex flex-wrap gap-2 my-2" style="max-height: 60px; overflow: hidden; transition: max-height 0.3s;">
                @foreach (var premio in Model.PremiosAgrupados)
                {
                    <span class="badge bg-warning text-dark">
                        @premio.Nome (@($"{premio.Total}× anos: {premio.Anos}"))
                    </span>
                }
            </div>


            <button id="verMaisBtn" class="btn btn-sm btn-warning mt-2 fw-bold mt-2">Ver mais</button>

        </div>
    </div>
</div>
<script>
    const container = document.getElementById('premiosContainer');
    const btn = document.getElementById('verMaisBtn');

    btn.addEventListener('click', () => {
        if(container.style.maxHeight === 'none') {
            container.style.maxHeight = '60px'; 
            btn.textContent = 'Ver mais';
        } else {
            container.style.maxHeight = 'none';
            btn.textContent = 'Ver menos';
        }
    });

    window.addEventListener('load', () => {
        if(container.scrollHeight <= container.clientHeight){
            btn.style.display = 'none';
        }
    });
</script>
